# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# Django specific
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Node.js
node_modules/
package-lock.json
yarn.lock

# Tailwind/PostCSS
postcss.config.js
tailwind.config.js

# Build folders
dist/
build/
src/

# Environment variables
.env

# IDEs
.idea/
.vscode/

# macOS/Windows
.DS_Store
Thumbs.db
