# Python
*.pyc
__pycache__/

# Node
node_modules/
package-lock.json

# IDE
.idea/

# Tailwind
postcss.config.js
tailwind.config.js

# Static if generated
static/
src/

# VS Code
.vscode/

# Env
.env
.venv/
# created by virtualenv automatically

